* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
Body {
  background-color: rgb(50, 50, 50);
}
.input {
  background-color: transparent;
  font-size: 14px;
  box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
  color: rgb(234, 234, 234);
  text-align: center;
  font-family: roboto condensed;
  padding: 10px;
  text-transform: capitalize;
}
.input::placeholder {
  color: rgb(32, 32, 32);
}
.indicateur {
  color: rgb(234, 234, 234);
  font-family: roboto condensed;
  font-size: 1.1em;
  text-transform: capitalize;
  text-align: center;
}
.wrapper_indicateur {
  height: 100%;
  width: 100vw;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  position: relative;
  padding: 30px;
}
.town {
  font-size: 40px;
  font-family: Kanit;
  color: rgb(234, 245, 12);
  /* text-align: center; */
}
img {
  height: 40px;
  width: 40px;
}
p {
  color: rgb(245, 177, 204);
  font-size: 14px;
  font-family: roboto condensed;
  font-weight: 200;
  width: 100%;
}

.container_temp,
.container_hours,
.container_humidity,
.container_uv,
.container_wind {
  /* box-shadow: inset 0 0 40px rgba(0, 0, 0); */
  color: rgb(234, 234, 234);
  padding: 10px;
  text-align: center;
  font-family: roboto condensed;
  height: 50px;
  transition: height 0.95s;
  overflow: hidden;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
}
.container_weather {
  height: auto;
  width: 100%;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(255, 146, 44), transparent);
  box-shadow: 0px 0px 5px rgb(39, 39, 39) inset;
  color: white;
  font-size: 0.9em;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.banner:hover {
  transform: translateX(2px);
}
.wrapper_data {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  align-content: center;
  background: linear-gradient(to bottom, rgb(51, 51, 51), transparent);
}
.wrapper_data_weather {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  background: linear-gradient(to bottom, rgb(75, 7, 7) 10%, transparent);
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.wrapper_data_weather:hover {
  transform: scale(1.1);
}
.icon {
  margin-top: -18px;
}
.expanded {
  height: 300px;
  transition: height 0.85s;
}
.container_town_img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-content: center;
}
.town_img {
  position: fixed;
  height: 100vh;
  width: 800px;
  opacity: 0.5;
  border: none;
}
.container_input {
  /* gap: 10px; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 30px;
}
.delete {
  color: rgb(243, 168, 88);
  margin-left: 10px;
  margin-top: 10px;
}
.container_days_forecast {
  display: flex;
  flex-direction: column;
}
.container_days_forecast h2 {
  color: white;
  font-family: roboto condensed;
}
.container_8days {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 5px;
}
.div_container8days {
  color: rgb(201, 201, 201);
  font-family: roboto condensed;
  font-size: 0.8em;
  width: auto;
  height: auto;
  padding: 20px;
  border: solid 1px rgb(198, 198, 198);
  background: linear-gradient(to bottom, rgb(51, 51, 51), transparent);
  transition: 0.2s ease-in-out;
}
.div_container8days:hover {
  background: linear-gradient(to bottom, rgb(57, 28, 28), transparent);
  transform: scale(1.1);
}

.container_1day {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.container_1day h2 {
  color: white;
  font-family: roboto condensed;
}

.container_datasDay {
  display: flex;
  gap: 5px;
}
.div_weatherDescription {
  color: white;
  font-family: roboto condensed;
  font-size: 0.8em;
}
